<div class="w-full bg-primary h-[80px] md:h-[120px] text-gray-500">
    <div class="h-full container px-5 mx-auto">
        <div class="h-full flex items-center justify-between border-gray-700 border-b">
            <div class="flex items-center">
                <div
                    class="flex justify-center items-center bg-gradient-to-r from-rose-600 to-orange-600 text-white font-bold w-[35px] h-[35px] rounded-full">
                    D
                </div>
                <div class="hidden md:flex">
                    <ul class="flex gap-5 text-xs ml-5 font-bold">
                        <li class="cursor-pointer">LEARN</li>
                        <li class="cursor-pointer text-white">BLOG</li>
                        <li class="cursor-pointer">BOOKMARKS</li>
                        <li class="cursor-pointer">UI KIT</li>
                        <li class="cursor-pointer">LAIN NYA</li>
                    </ul>
                </div>
            </div>
            <div class="gap-4 items-center text-xl hidden md:flex">
                <i class="fa-brands fa-twitter cursor-pointer"></i>
                <i class="fa-brands fa-instagram cursor-pointer"></i>
                <i class="fa-brands fa-dribbble cursor-pointer"></i>
            </div>
            <div class="text-2xl md:hidden cursor-pointer" (click)="setNav()">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
    </div>
</div>

<ng-template [ngIf]="nav">
    <div class="h-full w-[100%] bg-black absolute top-0 right-0 z-10 opacity-50" (click)="setNav()"></div>
    <div class="h-full w-[80%] bg-primary absolute top-0 right-0 z-10">
        <div class="text-3xl text-gray-500 md:hidden cursor-pointer" (click)="setNav()">
            <i class="fa-solid fa-xmark absolute top-[26px] right-[20px]"></i>
        </div>
        <ul class="h-full text-gray-600 flex flex-col items-center gap-5 font-bold pt-[75%]">
            <li class="cursor-pointer" (click)="setNav()">LEARN</li>
            <li class="cursor-pointer text-white" (click)="setNav()">BLOG</li>
            <li class="cursor-pointer" (click)="setNav()">BOOKMARKS</li>
            <li class="cursor-pointer" (click)="setNav()">UI KIT</li>
            <li class="cursor-pointer" (click)="setNav()">LAIN NYA</li>
        </ul>
    </div>
</ng-template>