<div class="bg-primary min-h-[100vh]">
    <div class="container py-[5rem] md:py-[7.47rem]  mx-auto">
        <div class="flex-row lg:flex gap-10 text-white mx-5 pt-5 md:pt-10 border-t border-gray-500">
            <div class=" flex-1 mb-4">
                <div class="lg:h-full">
                    <img class="lg:h-full object-cover" src={{postImg}} alt="" srcset="">
                </div>
            </div>
            <div class="flex-1">
                <span class="text-sm text-gray-500">{{postDate}}</span>
                <h1 class="font-semibold text-2xl lg:text-lg mt-5">{{postTitle}}</h1>
                <p class="text-gray-500 mt-4 text-sm">{{postDescription}}</p>
                <button
                    class="bg-gradient-to-r from-rose-600 to-orange-600 text-white py-2 px-6 rounded mt-14 ml-auto font-semibold scale-95 hover:scale-100 duration-300"
                    routerLink=""><i class="fa-solid fa-arrow-left mr-2"></i>All posts</button>
            </div>
        </div>
    </div>
</div>