<div class="flex flex-row-reverse lg:flex-row items-center text-gray-500 mx-5 cursor-pointer">
    <div class="w-[120%] md:w-[65%] lg:w-[450px] xl:w-[350px] object-cover">
        <img src="assets/bmw.jpg" alt="" srcset="">
    </div>
    <div class="pr-5 lg:pl-5">
        <span class="text-xs">April 11, 2023</span>
        <h3 class="text-sm md:text-lg text-white font-semibold my-3">
            Nulla nibh est, molestie at aliquet non, placerat sit amet ipsum non mollis.
        </h3>
    </div>
</div>