<app-hero></app-hero>
<div class="bg-primary py-10 md:py-16">
    <div class="flex flex-col lg:flex-row container mx-auto">
        <div class="flex-2">
            <app-big-card></app-big-card>
        </div>
        <div class="relative flex-1 mt-14 md:mt-12 md:mx-6 lg:mx-0 lg:mt-0 z-1">
            <hr class="mb-5 md:mb-10 mx-5 opacity-30 lg:hidden">
            <app-small-card postImg="assets/audi.jpg"
                postTitle="Audi: Nulla nibh est, molestie at aliquet non, placerat sit amet ipsum non mollis"
                postDate="April 20, 2023" id="2"></app-small-card>
            <hr class="mb-5 mt-8 md:my-7 mx-5 opacity-30">
            <app-small-card postImg="assets/lamborghini.jpg"
                postTitle="Lamborghini: Nam cursus vehicula mi sed ornare. Maecenas condimentum luctus quam"
                postDate="April 19, 2023" id="3"></app-small-card>
            <hr class="mb-5 mt-8 md:my-7 mx-5 opacity-30">
            <app-small-card postImg="assets/ferrari.jpg"
                postTitle="Ferrari: Fringilla scelerisque, mi et dignissim viverra, ligula erat rhoncus ante"
                postDate="April 18, 2023" id="4"></app-small-card>
        </div>
    </div>
</div>